<%= render 'layouts/loginBar' %>

        <div class="row">
          <h1 class="page-header">MontiHotel
                    <small>Empresa</small>
          </h1>
            <div class="col-lg-12">
                <%= link_to image_tag("logo.gif", alt: "MontiHotel logo", :class => "logoFront"), root_path %>
        				<p>A MontiHotel é uma empresa.... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc convallis placerat vulputate. Sed ante massa, ullamcorper rutrum nulla nec, dignissim ornare purus. In aliquam magna quis odio pretium, sit amet pellentesque leo condimentum. Vivamus mollis tempor ligula posuere aliquam. Quisque ut ante convallis, maximus metus euismod, tincidunt sapien. Suspendisse hendrerit elementum felis, ac efficitur lacus interdum eu. Etiam nec mattis eros. Nulla condimentum imperdiet pretium. Aenean sit amet tortor nec dolor varius aliquam eget eget dui. Phasellus sit amet feugiat nisi, sodales volutpat nisl.</p>
                <p>Curabitur posuere varius augue et fringilla. Fusce vitae mi in lorem fermentum scelerisque. Donec est est, congue sed feugiat sed, semper a magna. Duis semper quis arcu ut viverra. Sed nisl odio, accumsan id ante a, pretium ultrices dui. Phasellus pretium convallis libero, quis tempus nulla fringilla quis. Vestibulum id quam at justo vulputate tempor at quis quam. Ut ultrices magna sit amet leo facilisis sodales. Cras ullamcorper sollicitudin iaculis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent maximus, tellus vitae iaculis luctus, ligula turpis eleifend felis, et lacinia risus sem ac neque. </p>
                <h1><small>Os nossos Serviços</small></h1>
                <p>A MontiHotel oferece os seguintes serviços:</p>
                
                <ul>
                  <li>Serviço 1</li>
                  <li>Serviço 2</li>
                  <li>Serviço 3</li>
                </ul>

                <p>A empresa presta todos estes serviços a nível nacional... A MontiHotel é uma empresa.... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc convallis placerat vulputate. Sed ante massa, ullamcorper rutrum nulla nec, dignissim ornare purus. In aliquam magna quis odio pretium, sit amet pellentesque leo condimentum.</p>

                <h1><small>Localização:</small></h1>
               <%= render 'layouts/googleMap' %>


                <h1><small>Os nossos projectos:</small></h1>
                <p>Veja alguns dos nossos projectos. Executamos os mais variados trabalhos em dezenas de locais por todo o país, veja alguns deles (fotos de exemplo):
            </div>
        </div>
